* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.7;
}

main{
  width: 1000px;
  
}

h2 {
  margin-top: 50px;
}

.header {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #1e1e2f;
}

.nav {
  justify-content: center;
  display: flex;
  gap: 40px;
  width: 900px;
}
.nav a {
  color: white;
}

.post_title{
  margin-bottom: 50px;
  text-align: center;
}